/*
This is the CSS file for Assignment 1
External CSS will be used for the header display
This CSS file will also be used for the div containing the form
*/

.head-materials{
display: flex;
align-items: center;
gap: 350px;
}

.banner{
font-family: "Lucida Handwriting", cursive;
}

.medical-form{
background-color: #FF9E59;
}

.footer-appearance{
background-color: #F0E130;
}